body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f; /*Временно, до стилизации слайдера*/
}

.page-wrapper {
  padding: 0 27px;
  margin: 0 auto;
  width: 1146px;
}

/* Временная разметка */

/* body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
} */

/* body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
} */

/* body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
} */

/* body > * > * > * > * {
  background: rgba(0, 0, 255, 0.2);
  box-shadow: inset 0 0 0 2px blue;
} */

body > * > * > * > * > * {
  background: rgba(128, 0, 128, 0.2);
  box-shadow: inset 0 0 0 2px purple;
}

body > * > * > * > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

/* Конец временной разметки */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  color: #ffffff;
  text-decoration: underline rgba(255, 255, 255, 0.2);
}


.button {
  display: inline-block;
  padding: 14px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  vertical-align: top;
  text-align: center;

  text-decoration: none;
  background: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0px #942718;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: #ee7561;
}

.button:active {
  background: linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0px 2px 2px 0px #942718;
}

.main-navigation {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.site-navigation,
.submenu,
.user-navigation {
  padding: 0;
  margin: 0;
  list-style: none;
}

li.active > a {
  pointer-events: none;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
}

.navigation-item > a {
  display: block;
  padding: 10px 14px;
  border-radius: 20px;
}

.navigation-item > a:active {
  color: #323232;
  background-color: #f8f7f4;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.navigation-item.active > a {
  background-color: #d07058;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #323232;
  background-color: #f8f7f4;
}

.logo {
  padding-top: 9px;
  margin-right: 10px;
}

.logo img {
  display: block;
}

.navigation-item {
  position: relative;
}

.submenu {
  position: absolute;
  left: -6px;
  top: 40px;
  margin: 0;
  padding: 6px 0;
  width: 143px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  background-color: #f8f7f4;
  border-radius: 8px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

  display: none;
}

.navigation-item:hover .submenu {
  display: block;
}

.submenu a {
  position: relative;
  display: block;
  padding: 8px 20px;
  color: #323232;
}

.submenu-item.active a {
  color: #ffffff;
  background-color: #d07058;
}

.submenu-item a:hover {
  background-color: #fbded7;
}

.submenu-item a:active {
  background-color: #f6b5a5;
}

.submenu-item:first-child a {
  padding: 5px 20px 12px;

  font-weight: 700;
}

.submenu-item:first-child a:after {
  content: "";
  position: absolute;
  width: 128px;
  height: 1px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  background-color: rgba(53, 53, 53, 0.2);
}

.user-navigation {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 23px 0 19px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.user-navigation li {
  position: relative;
  margin-left: 8px;
}

.user-navigation a {
  text-decoration: none;
}

.search > a {
  display: block;
  width: 32px;
  height: 32px;

  background: rgba(255, 255, 255, 0.2) url(../img/loupe.svg) center center no-repeat;
  border-radius: 50%;
}

.search:hover a {
  background: rgba(248, 247, 244, 1) url(../img/loupe-hover.svg) center center no-repeat;
}

.search-form {
  display: none;

  position: absolute;
  top: 36px;
  right: 0;
  padding: 20px 15px;
  width: 311px;

  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.search:hover .search-form {
  display: block;
}

.user-navigation input {
  box-sizing: border-box;
  padding: 15px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.search input {
  height: 44px;
  width: 311px;
}

.login input {
  margin-bottom: 20px;
  width: 241px;
  height: 44px;
}

.search input:hover,
.login input:hover {
  border: 2px solid #c7c6c5;
  padding: 14px;
}

.search input:focus,
.login input:focus {
  outline: none;
  border: 2px solid #8fbdec;
  padding: 14px;
}

.login > a,
.basket > a {
  padding: 8px 17px 8px 45px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.login > a::before {
  content: "";
  position: absolute;
  left: 18px;
  top: -3px;
  width: 20px;
  height: 20px;
  background: url(../img/entrance.svg) no-repeat;
}

.login > a:hover::before,
.login > a:focus::before {
  background: url(../img/entrance-hover.svg) no-repeat;
}

.login-form {
  position: absolute;
  right: 0;
  top: 28px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 18px;
  width: 240px;
  z-index: 1;

  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;

  display: none;
}

.login:hover .login-form {
  display: flex;
}

.login-button {
  padding: 11px 26px;
}

.login-links {
  width: 120px;
}

.login-links a {
  font-size: 13px;
  line-height: 24px;
  text-decoration: underline rgba(50, 50, 50, 0.3);
  color: #323232;
}

.login-links a:hover,
.login-links a:focus,
.login-links a:active {
  color: #e84d37;
  text-decoration: underline rgba(232, 77, 55, 0.3);
}

.basket > a::before {
  content: "";
  position: absolute;
  left: 18px;
  top: -3px;
  width: 21px;
  height: 20px;
  background: url(../img/basket.svg) no-repeat;
}

.basket.active > a::before {
  background: url(../img/basket-red.svg) no-repeat;
}

.basket:not(.active) > a {
  pointer-events: none;
}

.modal-basket {
  position: absolute;
  right: 0;
  top: 28px;
  z-index: 1;
  padding: 18px 15px 20px 16px;
  width: 510px;

  color: #323232;
  font-size: 13px;
  line-height: 16px;

  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;

  display: none;
}

.basket.active:hover .modal-basket {
  display: block;
}

.basket-order {
  padding-bottom: 17px;
  margin-bottom: 17px;
  width: 509px;

  vertical-align: top;

  border-collapse: collapse;
  border-bottom: 1px solid #cacac7;
}

.basket-order td {
  padding-bottom: 18px;
}

td.basket-order-remove {
  width: 25px;
}

.basket-remove-btn {
  display: block;
  padding: 0 6px;
  width: 12px;
  height: 12px;

  font-size: 0;

  background-color: royalblue;
  border: none;
}

.basket-order-image img {
  width: 33px;
  height: 33px;

  border-radius: 50%;
}

.basket-item-name {
  padding: 0 11px;
  width: 230px;
}

.basket-item-price {
  padding: 0 8px;
  width: 116px;

  text-align: center;
}

.basket-item-price span {
  color: #999999;
}

.basket-item-total {
  padding: 0 14px;
  width: 52px;
}

.basket-total {
  display: block;
  margin-bottom: 17px;
  margin-left: auto;

  font-size: 15px;
  line-height: 18px;
}

.basket-btn {
  margin-left: auto;
}

.basket.active > a {
  color: #323232;
  background-color: #ffffff;
}

a.basket-btn:hover,
a.basket-btn:focus {
  color: #ffffff;

  background: #ee7561;
}

.schedule-info {
  text-align: right;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.schedule-info p {
  padding: 0;
  margin: 0;
}

.schedule-info a {
  display: inline-block;
  margin-top: 3px;
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
}

.slider {
  padding-top: 274px;
  margin-bottom: 40px;
}

.slider-item {
  text-align: center;
}

.slider-text {
  margin: 0 auto;
  margin-bottom: 29px;
  padding: 0;
  width: 670px;

  font-size: 60px;
  line-height: 61px;
  font-weight: 700;
}

.slider-button {
  padding: 10px 41px 9px;
  font-size: 32px;
  line-height: 44px;
}

.slider-item-2 {
  display: none;
}

.slider-item-3 {
  display: none;
}

.specials {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.special-banner {
  width: 520px;
  padding: 20px;

  border-radius: 15px;
}

.special-banner-title {
  margin: 0;
  padding: 0;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.special-banner-raspberry {
  background: #931c36 url(../img/raspberry-bg.jpg) no-repeat;
}

.special-banner-chocolates {
  background: #40261a url(../img/shocolates-bg.jpg) no-repeat;
}

.special-banner p {
  margin-bottom: 45px;
}

.special-banner-btn {
  padding: 11px 23px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 -13px;

  list-style: none;
}

.catalog-item {
  position: relative;
  margin: 0 13px 40px;
  width: 267px;

  text-align: center;
}

.catalog-item.hit::before {
  content: "";
  width: 61px;
  height: 61px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/hit.svg) no-repeat;
}

.catalog-item-image img {
  margin-bottom: 7px;

  border-radius: 50%;
}

.catalog-item-price {
  position: absolute;
  left: 0;
  top: 208px;
  margin: 0;
  padding: 0;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.catalog-item-price span {
  font-size: 30px;
  line-height: 45px;
}

.catalog-item-title {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-decoration: underline rgba(255, 255, 255, 0.3);
}

.catalog-item-title:hover,
.catalog-item-title:focus,
.catalog-item-title:active {
  color: #ffbc9e;
  text-decoration: underline rgba(255, 188, 158, 0.3);
}

.catalog-item-button {
  display: none;
  position: absolute;
}

.about {
  display: flex;
  flex-wrap: wrap;
  padding: 27px 20px 13px;
  margin-bottom: 40px;

  color: #323232;
  background: #eee3cd url(../img/waffle-pattern.jpg) repeat;
  border-radius: 15px;
}

.about-title {
  margin: 0;
  margin-bottom: 7px;
  padding: 0;
  width: 100%;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.about-item {
  position: relative;
  padding: 13px 0 0 57px;
  margin: 0 29px 10px 0;
  width: 480px;
}

.about-item::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
}

.about-item-icecream {
  background: url(../img/ice-cream.svg) no-repeat;
  top: 0;
  left: 0;
}

.about-item-cow {
  background: url(../img/cow.svg) no-repeat;
  top: 0;
  left: 0;
}

.about-item-leaf {
  background: url(../img/eco.svg) no-repeat;
  top: 0;
  left: 0;
}

.about-item-temp {
  background: url(../img/thermometer.svg) no-repeat;
  top: 0;
  left: 0;
}

.about-item:nth-child(odd) {
  margin-right: 0;
}

.news {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.new {
  padding: 25px 20px;
  width: 520px;

  color: #323232;
  background: #ffffff url(../img/strawberry-bg.jpg) center center no-repeat;
  border-radius: 15px;
}

.new-title {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.new-link {
  display: block;
  width: 285px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration: underline;
}

.new-link:hover,
.new-link:focus,
.new-link:active {
  color: #e84d37;
}

.subscribe {
  position: relative;
  padding: 34px 26px 40px;
  width: 507px;
  z-index: 1;

  color: #5a5a5a;
  background: #f8f7f4;
  background-image: repeating-linear-gradient(-45deg, #f8f7f4 0px, #f8f7f4 7px, #92cdff 7px, #92cdff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);

  border-radius: 15px;
}

.subscribe::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: calc(100% - 10px);
  height: calc(100% - 10px);

  background-color: #f8f7f4;
  border-radius: 15px;
}

.subscribe p {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe input {
  box-sizing: border-box;
  padding: 15px;
  height: 44px;
  width: 368px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.subscribe input:hover {
  border: 2px solid #c7c6c5;
  padding: 14px;
}

.subscribe input:focus {
  outline: none;
  border: 2px solid #8fbdec;
  padding: 14px;
}

.subscribe-btn {
  padding: 10px 20px;

}

.map {
  height: 430px;

  text-align: center;
  background-color: #e4ddc3;
}

.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
  color: #ffbc9e;
  text-decoration: underline rgba(255, 188, 158, 0.3);
}

.contacts-info {
  position: absolute;
  right: 0;
  top: -367px;
  width: 252px;
  padding: 30px 26px;
  font-size: 14px;
  line-height: 20px;
  color: #323232;

  background-color: #ffffff;
  border-radius: 15px;
}

.contacts-info p {
  margin: 0;
  margin-bottom: 17px;
}

.contacts-info b {
  display: block;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts-info-tel {
  padding: 4px 0;

  font-size: 18px;
  line-height: 22px;
}

.contacts-info-btn {
  padding: 11px 27px;
}

a.contacts-info-btn:hover,
a.contacts-info-btn:focus,
a.contacts-info-btn:active {
  color: #ffffff;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 36px;
  width: 196px;
  list-style: none;
}

.socials li {
  margin: 0 11px 10px 0;

  background: rgba(0, 128, 0, 0.2);   /*Временная разметка сетки*/
  box-shadow: 0 0 0 3px green;        /*Временная разметка сетки*/
}

.social {
  display: block;
  width: 32px;
  height: 32px;

  opacity: 0.8;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;

}

.social-tw {
  background: url(../img/twitter.svg) center center no-repeat;
}

.social-inst {
  background: url(../img/instagram.svg) center center no-repeat;
}

.social-fb {
  background: url(../img/fb.svg) center center no-repeat;
}

.social-vk {
  background: url(../img/vk.svg) center center no-repeat;
}

.social:hover,
.social:focus {
  opacity: 1;
  border-color: rgba(255, 255, 255, 0.7);
}

.social:active {
  opacity: 1;
  border-color: rgba(233, 233, 233, 0.7);
  box-shadow: inset 0px 2px 1px 0px #888888;
}

.useful-info {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  margin-top: 36px;
  margin-bottom: 30px;
  width: 353px;

  list-style: none;
  font-size: 13px;
  line-height: 18px;
}

.useful-info li {
  position: relative;
  padding-left: 22px;
  margin-bottom: 3px;
  min-width: 120px;

  background: rgba(0, 128, 0, 0.2);   /*Временная разметка сетки*/
  box-shadow: 0 0 0 3px green;        /*Временная разметка сетки*/
}

.mark {
  font-weight: 700;
}

.mark::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 15px;
  height: 13px;

  background: url(../img/heart.svg) no-repeat;
}

.copyright {
  margin: 18px 0 24px;
  width: 190px;

  font-size: 12px;
  line-height: 18px;

  background: rgba(0, 128, 0, 0.2);   /*Временная разметка сетки*/
  box-shadow: 0 0 0 3px green;        /*Временная разметка сетки*/
}

.copyright img {
  display: block;
  margin-bottom: 5px;
}

.modal-feedback {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 24px;
  width: 430px;
  z-index: 1;

  color: #323232;

  background-color: #f8f7f4;
  border-radius: 15px;
}

.feedback-title {
  padding: 0;
  margin: 0;
  margin-bottom: 27px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.modal-feedback input,
.modal-feedback textarea {
  box-sizing: border-box;
  padding: 15px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.modal-feedback input {
  margin-bottom: 20px;
  width: 267px;
  height: 44px;
}

.modal-feedback textarea {
  margin-bottom: 25px;
  resize: none;
  width: 428px;
  height: 155px;
}

.modal-feedback input:hover,
.modal-feedback textarea:hover {
  border: 2px solid #c7c6c5;
  padding: 14px;
}

.modal-feedback input:focus,
.modal-feedback textarea:focus {
  outline: none;
  border: 2px solid #8fbdec;
  padding: 14px;
}

.feedback-btn {
  display: block;
  margin-left: auto;
}

/*Страница каталога*/

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-top: -18px;
  margin-bottom: 5px;

  font-size: 14px;
  line-height: 16px;

  list-style: none;
}

.breadcrumbs li {
  position: relative;
  display: inline-block;
  padding-right: 18px;
}

.breadcrumbs-item::after {
  content: "»";
  position: absolute;
  top: 0;
  right: 4px;

}

.breadcrumbs-item a:hover,
.breadcrumbs-item a:focus,
.breadcrumbs-item a:active {
  color: #ffbc9e;
}

.main-title {
  margin: 0;
  margin-bottom: 30px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 860px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.catalog-filter-list,
.range-controls,
.catalog-filter-dropdown {
  list-style: none;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.catalog-filter-group {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  margin: 0 0 6px 16px;
}

.catalog-filter-dropdown {
  padding: 9px 15px;

  color: #ffffff;
  cursor: pointer;
}

.range-controls {
  position: relative;
  margin-bottom: 16px;
}

.scale {
  width: 176px;
  height: 4px;

  background: rgba(248, 247, 244, 0.5);
}

.bar {
  position: absolute;
  top: 0;
  left: 16px;
  width: 106px;
  height: 4px;

  background: rgba(248, 247, 244, 1);
}

.range-toggle {
  position: absolute;
  top: -8px;
  width: 4px;
  height: 4px;
  background-color: #ababab;

  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle-min {
  left: 16px;
}

.range-toggle-max {
  left: 123px;
}

.catalog-filter-list {
  display: flex;
  margin: 0;
  padding: 0 15px;

  list-style: none;
}

.catalog-filter-label {
  padding-left: 32px;
  cursor: pointer;
}

.catalog-radio-item,
.catalog-chekbox-item {
  position: relative;
  margin-right: 22px;
  padding: 9px 0;
}

.catalog-radio-item .catalog-filter-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;

  background: url(../img/radio-off.svg) no-repeat;
  transform: scale(0.88);
  opacity: 0.8;
}

.catalog-chekbox-item .catalog-filter-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;

  background: url(../img/checkbox-off.svg) no-repeat;
  opacity: 0.8;
}

.catalog-filter-btn {
  padding: 9px 26px;

  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 15px;
}

.catalog-filter-btn:hover,
.catalog-filter-btn:focus {
  color: #323232;
  background-color: #fbfcfb;
}

.catalog-filter-btn:active {
  color: #323232;
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 1px 0 #6a6b6a;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  list-style: none;
}

/* .pagination-button.forward {
  display: block;
  width: 8px;
  height: 12px;

  background: url(../img/icon-right-small.svg) no-repeat;
} */

.pagination-item a {
  padding: 7px 10px;

  background-color: rgba(255, 255, 255, 0);
  text-decoration: none;
}

.pagination-item.active a {
  color: #323232;
  background-color: rgba(255, 255, 255, 1);
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item a:active {
  color: #323232;
  background-color: rgba(255, 255, 255, 1);
}
