body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f; /*Временно, до стилизации слайдера*/
}

.page-wrapper {
  padding: 0 27px;
  margin: 0 auto;
  width: 1146px;
}

/* Временная разметка */

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

body > * > * > * > * {
  background: rgba(0, 0, 255, 0.2);
  box-shadow: inset 0 0 0 2px blue;
}

body > * > * > * > * > * {
  background: rgba(128, 0, 128, 0.2);
  box-shadow: inset 0 0 0 2px purple;
}

/* Конец временной разметки */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  color: #ffffff;
  text-decoration: underline rgba(255, 255, 255, 0.2);
}


.button {
  display: inline-block;
  padding: 14px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  vertical-align: top;
  text-align: center;

  text-decoration: none;
  background: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0px #942718;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: #ee7561;
}

.button:active {
  background: linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0px 2px 2px 0px #942718;
}

.main-navigation {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.site-navigation,
.submenu,
.user-navigation {
  padding: 0;
  margin: 0;
  list-style: none;
}

li.active > a {
  pointer-events: none;
}

.navigation-item > a {
  padding: 10px 14px;
  border-radius: 20px;
}

.navigation-item > a:active {
  color: #323232;
  background-color: #f8f7f4;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.navigation-item.active > a {
  background-color: #d07058;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #323232;
  background-color: #f8f7f4;
}

.logo img {
  display: block;
}

.submenu {
  position: absolute;
  margin: 0;
  padding: 6px 0;
  width: 143px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  background-color: #f8f7f4;
  border-radius: 8px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.submenu a {
  display: block;
  padding: 8px 20px;
  color: #323232;
}

.submenu-item.active a {
  color: #ffffff;
  background-color: #d07058;
}

.submenu-item a:hover {
  background-color: #fbded7;
}

.submenu-item a:active {
  background-color: #f6b5a5;
}

.user-navigation {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 23px 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.search-form {
  position: absolute;
  right: 0;       /*Временно, для построения сетки*/
  padding: 20px 15px;
  width: 311px;

  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.search {
  width: 32px;
  height: 32px;
}

.user-navigation a {
text-decoration: none;
}

.user-navigation input {
  box-sizing: border-box;
  padding: 15px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.search input {
  height: 44px;
  width: 311px;
}

.login input {
  margin-bottom: 20px;
  width: 241px;
  height: 44px;
}

.search input:hover,
.login input:hover {
  border: 2px solid #c7c6c5;
  padding: 14px;
}

.search input:focus,
.login input:focus {
  outline: none;
  border: 2px solid #8fbdec;
  padding: 14px;
}

.login > a,
.basket > a {
  padding: 10px 17px 10px 45px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.login-form {
  position: absolute;
  right: 0;       /*Временно, для построения сетки*/
  top: 150px;     /*Временно, для построения сетки*/
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 18px;
  width: 240px;

  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.login-button {
  padding: 11px 26px;
}

.login-links {
  width: 120px;
}

.login-links a {
  font-size: 13px;
  line-height: 24px;
  text-decoration: underline rgba(50, 50, 50, 0.3);
  color: #323232;
}

.login-links a:hover,
.login-links a:focus,
.login-links a:active {
  color: #e84d37;
  text-decoration: underline rgba(232, 77, 55, 0.3);
}

.modal-basket {
  position: absolute;
  right: 0;     /*Временно, для построения сетки*/
  top: 400px;   /*Временно, для построения сетки*/

  padding: 20px 15px;
  width: 510px;

  color: #323232;
  font-size: 13px;
  line-height: 16px;

  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.basket-total {
  font-size: 15px;
  line-height: 18px;
}

.basket.active > a {
  color: #323232;
  background-color: #ffffff;
}

a.basket-btn:hover,
a.basket-btn:focus {
  color: #ffffff;

  background: #ee7561;
}

.schedule-info {
  text-align: right;
  font-size: 14px;
  line-height: 16px;
}

.schedule-info p {
  padding: 0;
  margin: 0;
}

.schedule-info a {
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
}

.slider {
  padding-top: 280px;
  margin-bottom: 40px;
}

.slider-item {
  text-align: center;
}

.slider-text {
  margin: 0 auto;
  margin-bottom: 23px;
  padding: 0;
  width: 670px;

  font-size: 60px;
  line-height: 61px;
  font-weight: 700;
}

.slider-button {
  padding: 13px 39px;
  font-size: 32px;
  line-height: 44px;
}

.slider-item-2 {
  display: none;
}

.slider-item-3 {
  display: none;
}

.specials {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.special-banner {
  width: 520px;
  padding: 20px;

  border-radius: 15px;
}

.special-banner-title {
  margin: 0;
  padding: 0;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.special-banner-raspberry {
  background: #931c36 url(../img/raspberry-bg.jpg) no-repeat;
}

.special-banner-chocolates {
  background: #40261a url(../img/shocolates-bg.jpg) no-repeat;
}

.special-banner p {
  margin-bottom: 45px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 -13px;

  list-style: none;
}

.catalog-item {
  margin: 0 13px 40px;
  width: 267px;

  text-align: center;
}

.catalog-item-image img {
  margin-bottom: 15px;

  border-radius: 50%;
}

.catalog-item-price {
  margin: 0;
  padding: 0;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.catalog-item-price span {
  font-size: 30px;
  line-height: 45px;
}

.catalog-item-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-decoration: underline rgba(255, 255, 255, 0.3);
}

.catalog-item-title:hover,
.catalog-item-title:focus,
.catalog-item-title:active {
  color: #ffbc9e;
  text-decoration: underline rgba(255, 188, 158, 0.3);
}

.catalog-item-button {
  display: none;
}

.about {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 20px;
  margin-bottom: 40px;

  color: #323232;
  background: #eee3cd url(../img/waffle-pattern.jpg) repeat;
  border-radius: 15px;
}

.about-title {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  width: 100%;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.about-item {
  padding: 15px 0 0 55px;
  margin: 0 25px 10px 0;
  width: 480px;
}

.about-item:nth-child(odd) {
  margin-right: 0;
}

.news {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.new {
  padding: 25px 20px;
  width: 520px;

  color: #323232;
  background: #ffffff url(../img/strawberry-bg.jpg) center center no-repeat;
  border-radius: 15px;
}

.new-title {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.new-link {
  display: block;
  width: 285px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration: underline;
}

.new-link:hover,
.new-link:focus,
.new-link:active {
  color: #e84d37;
}

.subscribe {
  padding: 40px 26px;
  width: 507px;

  background: #f8f7f4;
  color: #5a5a5a;

  border-radius: 15px;
}

.subscribe p {
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe input {
  box-sizing: border-box;
  padding: 15px;
  height: 44px;
  width: 368px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.subscribe input:hover {
  border: 2px solid #c7c6c5;
  padding: 14px;
}

.subscribe input:focus {
  outline: none;
  border: 2px solid #8fbdec;
  padding: 14px;
}

.map {
  text-align: center;
  background-color: #e4ddc3;
}

.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
  color: #ffbc9e;
  text-decoration: underline rgba(255, 188, 158, 0.3);
}

.contacts-info {
  position: absolute;
  right: 0;
  top: -400px;
  width: 252px;
  padding: 32px 26px;
  font-size: 14px;
  line-height: 20px;
  color: #323232;

  background-color: #ffffff;
  border-radius: 15px;
}

.contacts-info b {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts-info-btn {
  padding: 11px 27px;
}

a.contacts-info-btn:hover,
a.contacts-info-btn:focus,
a.contacts-info-btn:active {
  color: #ffffff;
}

.socials {
  padding: 0;
  margin: 0;
  width: 186px;
  list-style: none;
}

.useful-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 34px;
  width: 341px;

  list-style: none;
  font-size: 13px;
  line-height: 18px;
}

.mark {
  font-weight: 700;
}

.copyright {
  width: 189px;

  font-size: 12px;
  line-height: 18px;
}

.modal-feedback {
  padding: 20px 24px;
  width: 430px;

  color: #323232;

  background-color: #f8f7f4;
  border-radius: 15px;
}

.feedback-title {
  padding: 0;
  margin: 0;
  margin-bottom: 27px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.modal-feedback input,
.modal-feedback textarea {
  box-sizing: border-box;
  padding: 15px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.modal-feedback input {
  margin-bottom: 20px;
  width: 267px;
  height: 44px;
}

.modal-feedback textarea {
  margin-bottom: 25px;
  resize: none;
  width: 428px;
  height: 155px;
}

.modal-feedback input:hover,
.modal-feedback textarea:hover {
  border: 2px solid #c7c6c5;
  padding: 14px;
}

.modal-feedback input:focus,
.modal-feedback textarea:focus {
  outline: none;
  border: 2px solid #8fbdec;
  padding: 14px;
}

.feedback-btn {
  display: block;
  margin-left: auto;
}

/*Страница каталога*/

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;

  list-style: none;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus,
.breadcrumbs-link:active {
  color: #ffbc9e;
}

.main-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.catalog-filter-group {
  border: none;
}

.catalog-filter {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.catalog-filter-list,
.range-controls,
.catalog-filter-dropdown {
  list-style: none;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.catalog-filter-label {
  padding-left: 32px;
  cursor: pointer;
}

.catalog-radio-item {
  padding: 7px 0;
}

.catalog-chekbox-item {
  padding: 8px 0;
}

.catalog-filter-btn {
  padding: 9px 26px;

  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 15px;
}

.catalog-filter-btn:hover,
.catalog-filter-btn:focus {
  color: #323232;
  background-color: #fbfcfb;
}

.catalog-filter-btn:active {
  color: #323232;
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 1px 0 #6a6b6a;
}

.pagination-list {
  list-style: none;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.pagination-item a {
  padding: 7px 10px;

  background-color: rgba(255, 255, 255, 0);
  text-decoration: none;
}

.pagination-item.active a {
  color: #323232;
  background-color: rgba(255, 255, 255, 1);
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item a:active {
  color: #323232;
  background-color: rgba(255, 255, 255, 1);
}
